@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgotten Password Confirm";
    Layout = "_AccountLayout";
}

<div class="d-flex justify-content-center">
    <h2>Forgot your password?</h2>
</div>
<hr />
<div class="d-flex flex-column justify-content-center text-center">
    <div class="alert alert-success">
        A password reset link has been sent to your registered email address.
    </div>
    <ul class="list-group align-items-center">
        <li class="list-group-item d-flex justify-content-center">
            <a id="link" asp-area="" asp-controller="Account" asp-action="Login">Back to log in</a>
        </li>
    </ul>
</div>
