@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password Confirm";
    Layout = "_AccountLayout";
}

<div class="d-flex justify-content-center">
    <h2>Reset password</h2>
</div>
<hr />
<div class="d-flex flex-column justify-content-center text-center">
    <div class="alert alert-success">
        Your password has been reset.
    </div>
    <ul class="list-group align-items-center">
        <li class="list-group-item d-flex justify-content-center">
            <a id="link" asp-area="" asp-controller="Account" asp-action="Login">Back to log in</a>
        </li>
    </ul>
</div>
